<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @project.subject %>
</p>

<p>
  <strong>User name:</strong>
  <%= @project.user_name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @project.due_date %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @project.grade %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
